

<div class="container">
  <div class="text-right">
    <button class="btn btn-danger" style="margin-bottom:10px">Clear
    </button>
  </div>
  <div  class="table-responsive">
  <table id="event-table" class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Event Name</th>
        <th>User</th>
        <th>MAC Address</th>
      </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
        <tr>
          <td><%= event.created_at.in_time_zone("Taipei").strftime("%F- %H:%M:%S")%></td>
          <td><%= event.event_name %></td>
          <td><%= event.user %></td>
          <td><%= event.uuid %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
  </div>

</div>

