<div  class="table-responsive">
  <table id="event-table" class="table">
    <thead>
    <tr>
      <th>Version</th>
      <th>URL</th>
      <th>MD5</th>
    </tr>
    </thead>
    <tbody>
    <% @events.each do |event| %>
        <tr>
          <td><%= event.created_at.in_time_zone("Taipei").strftime("%F- %I:%M%p")%></td>
          <td><%= event.event_name %></td>
          <td><%= event.user %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
</div>