<!DOCTYPE html>
<html>
  <head>
    <title>Fire Department</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id="head" class="jumbotron text-center")>
      <h1>Fire Department</h1>
      <p>Events Record</p>
    </div>
    <%= yield %>
  </body>
</html>
